<div class="container-fluid footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-4 footer-background-color">

			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 footer-background-color">

				© 2017 BRAND

			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 footer-background-color">

			</div>

		</div>
	</div>
</div>
